<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import { mdiArrowBottomRight, mdiThumbUp } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <FancyButton
          ><v-icon :icon="mdiArrowBottomRight"></v-icon>Click Me
          <template v-slot:tail> Tail </template>
        </FancyButton>
      </v-col>

      <v-col cols="2">
        <FancyButton
          ><v-icon :icon="mdiThumbUp"></v-icon>Like
          <template #tail> Tail </template>
        </FancyButton>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
