<script setup lang="ts">
import {
  mdiTwitter,
  mdiFacebook,
  mdiEmail,
  mdiVuejs,
  mdiVuetify,
  mdiLanguageTypescript,
  mdiMicrosoftVisualStudioCode,
  mdiGitlab,
} from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-parallax
        height="400"
        width="100%"
        src="https://www.pixelstalk.net/wp-content/uploads/2016/10/Art-Images-Anime-Landscape.jpg"
      >
        <v-col justify="center">
          <div class="banner">
            <v-card
              class="mx-auto"
              max-width="200"
              rounded="1"
              color="rgb(127, 233, 222,0.5)"
              elevation="18"
            >
              <v-avatar size="200" rounded="1">
                <v-img
                  cover
                  src="https://reg.buu.ac.th/registrar/getstudentimage.asp?id=63160224"
                ></v-img>
              </v-avatar>
              <v-list-item
                class="text-black"
                title="Sapondanai Maaiam"
                subtitle="@sapondanai"
              >
                <v-icon :icon="mdiTwitter"> </v-icon>
                <v-icon :icon="mdiFacebook"> </v-icon
                ><v-icon :icon="mdiEmail"> </v-icon
              ></v-list-item>
            </v-card>
          </div>
        </v-col>
      </v-parallax>
    </v-row>
    <v-row>
      <v-col>
        <h1>About me</h1>
      </v-col>
      <v-col>
        <h1>ประวัติการศึกษา</h1>
      </v-col>
    </v-row>
  </v-container>

  <v-container>
    <v-row>
      <v-col cols="5">
        <p>
          ชื่อ สพลดนัย มาเอี่ยม อายุ 21 ปี ปัจจุบันกำลังศึกษาอยู่ที่
          มหาวิทยาลัยบูรพา คณะวิทยาการสารสนเทศ สาขาวิทยาการคอมพิวเตอร์
        </p>
        <br />
        <div>
          <h3>WebApp Tool</h3>
          <v-chip
            class="ma-2"
            color="secondary"
            text-color="white"
            :append-icon="mdiVuejs"
          >
            VueJs
          </v-chip>

          <v-chip
            class="ma-5"
            color="blue"
            text-color="white"
            :append-icon="mdiVuetify"
          >
            Vuetify
          </v-chip>

          <v-chip
            class="ma-5"
            color="blue"
            text-color="white"
            :append-icon="mdiLanguageTypescript"
          >
            TypeScript
          </v-chip>
        </div>

        <div style="padding-left: 1em">
          <v-chip
            class="ma-2"
            color="blue"
            text-color="white"
            :append-icon="mdiMicrosoftVisualStudioCode"
          >
            Visual studio Code
          </v-chip>

          <v-chip
            class="ma-2"
            color="orange"
            text-color="white"
            :append-icon="mdiGitlab"
          >
            Gitlab
          </v-chip>
        </div>
      </v-col>
      <v-col>
        <v-timeline direction="horizontal">
          <v-timeline-item>
            <template v-slot:opposite> 2007-2013 </template>
            <div>
              <div class="text-h6">ประถมศึกษา</div>
              <p>โรงเรียนวัดบางพลีใหญ่ใน</p>
            </div>
          </v-timeline-item>

          <v-timeline-item>
            <template v-slot:opposite> 2013-2019</template>
            <div>
              <div class="text-h6">มัธยมศึกษา</div>
              <p>โรงเรียนนวมินทราชินูทิศ เตรียมอุดมศึกษาพัฒนาการ</p>
            </div>
          </v-timeline-item>

          <v-timeline-item>
            <template v-slot:opposite> 2019-current </template>
            <div>
              <div class="text-h6">อุดมศึกษา</div>
              <p>มหาวิทยาลัยบูรพา</p>
            </div>
          </v-timeline-item>
        </v-timeline></v-col
      >
    </v-row>
  </v-container>
</template>
<style scoped>
.banner {
  padding-top: 50px;
}
</style>
