<script setup lang="ts">
import FrameworkPop from "@/components/FrameworkPop.vue";
import { ref, computed } from "vue";
const frameList = ref([
  {
    name: "Arona1",
    img: "https://images2.alphacoders.com/128/1286653.jpg",
    rating: 10,
  },
  {
    name: "Arona2",
    img: "https://static.zerochan.net/Arona.full.3537423.jpg",
    rating: 20,
  },
  {
    name: "Arona3",
    img: "https://images8.alphacoders.com/126/1262692.jpg",
    rating: 30,
  },
]);

function changeRating(index: number, rating: number) {
  console.log("action " + index + " : " + rating);
  frameList.value[index].rating = rating;
}

const orderList = computed(() => {
  return [...frameList.value].sort((n1, n2) => n2.rating - n1.rating);
});
</script>

<template>
  <div>Starred</div>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of frameList" :key="index">
        <FrameworkPop
          :name="item.name"
          :img="item.img"
          :rating="item.rating"
          :index="index"
          @change="changeRating"
        >
        </FrameworkPop>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of orderList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
