<script setup lang="ts">
import { mdiThumbDown, mdiThumbUp } from "@mdi/js";
import { ref } from "vue";

const props = withDefaults(
  defineProps<{
    name: string;
    img: string;
    rating: number;
    index: number;
  }>(),
  {
    rating: 10,
  }
);

/* const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  img: {
    type: String,
    required: true,
  },
  rating: {
    type: Number,
    required: true,
  },
}); */

const emits = defineEmits<{
  (e: "change", rationg: number, index: number): void;
}>();
const count = ref(props.rating);

function inc() {
  count.value++;
  emits("change", props.index, count.value);
}

function dec() {
  count.value--;
  emits("change", props.index, count.value);
}
</script>

<template>
  <v-card class="mx-auto" max-width="344" variant="outlined">
    <v-card-item>
      <v-img :src="props.img" height="200px"> </v-img>
      <div class="text-center">
        <div class="text-h6 mb-1">{{ props.name }}</div>
        <div class="text-caption">Score : {{ count }}</div>
      </div>
    </v-card-item>

    <v-card-actions class="justify-center">
      <v-btn
        :icon="mdiThumbDown"
        @click="dec()"
        color="error"
        variant="flat"
      ></v-btn>
      <v-btn
        :icon="mdiThumbUp"
        @click="inc()"
        color="success"
        variant="flat"
      ></v-btn>
    </v-card-actions>
  </v-card>
</template>

<style scoped></style>
